.navbar{
    padding: 20px, 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cartImage{
    width: 2px;
    height: 2px;
}
.navbar .logo{
    width: 150px;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 50px;
    color: #495549;
    font-size: 18px;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar button{
    background: transparent;
    font-size: 16px;
    border: 1px solid tomato;
    color: #495549;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.4s;
}
.navbar button:hover{
    background-color:azure;
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #495549;
    
}
.navbar li{
    cursor: pointer;
}
.navbar-search-icon{
    position: relative;
}
.navbar .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top:-8px;
    right:-8px;
}