.list-table-format{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border: 2px solid #cacaca;
    font-size:13px;
}
.list-table-format.title{
    background-color: beige;
}
img{
    width: 50px;
}
.cursor {
  cursor: pointer;
  display: inline-block; /* Only take up the width of the content */
  width: fit-content;    /* Shrink to fit the content */
  text-align: center;    /* Center the X */
  padding: 0 10px;       /* Add some padding for easier clicking */
}